html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* no scrollbars */
  background: #000; /* fallback behind canvas */
}

canvas#game {
  display: block;
  width: 100vw;
  height: 100vh;
}

#hud {
  position: fixed;
  width: 50vw;
  left:50%;
  transform: translateX(-50%);
  bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  color: #fff;
  font: 14px/1.2 system-ui, sans-serif;
  z-index: 20;
  pointer-events: none; /* so it won’t interfere with gameplay */
}

.energy{
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
}

.energy__bar{
  position: relative;
  width: 100%;          /* bar length */
  height: 4px;          /* bar height */
  border-radius: 4px;
  overflow: hidden;
  background: #ffffff10;      /* empty track */
}

.energy__fill{
  height: 100%;
  width: 100%;           /* JS will change this */
  background: #ffffff;
  transition: width 140ms ease, background 140ms ease, box-shadow 140ms ease;
}

/* Low-energy warning */
.energy__fill.is-low{
  background: #fc6060
}

#help {
  line-height: 1.4;
  opacity: .8;
  font-weight: 500;
  font-size: 14px;
  position: fixed;
  width: 50vw;
  left:50%;
  transform: translateX(-50%);
  top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  color: #fff;
  font: 14px/1.2 system-ui, sans-serif;
  z-index: 20;
  pointer-events: none; /* so it won’t interfere with gameplay */
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

a {
  color: #8dd6ff;
}